@page "/account"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Extensions
@using WebGames.Models
@using WebGames.Web.Components
@using WebGames.Web.Components.Input
@using WebGames.Web.Components.User

<AppPageTitle Title="@(Localizer["Title"])" />

<h1>@(Localizer["Title"])</h1>

@if (success)
{
	<div class="alert alert-success" role="alert">
		@(Localizer["Saved"])
	</div>
}

<Card CardClass="mye-medium w-50">
	<HeaderContent>
		<h2>@(Localizer["ProfilePicture"])</h2>
	</HeaderContent>

	<ChildContent>
		<UserProfilePicture UserId="@(User.GetClaimValue<int>(ClaimType.Id))"
		                    Username="@(User.GetRequiredClaimValue(ClaimType.Username))"
		                    class="user-avatar"
		                    style="--size: 5em; display: inline-block" />

		<UserProfilePictureUpload />
	</ChildContent>
</Card>

<div class="container d-flex justify-space-between align-start gap-medium">
	<Card CardClass="flex-1 w-100">
		<HeaderContent>
			<h2>@(Localizer["Settings"])</h2>
		</HeaderContent>

		<ChildContent>
			<EditForm Model="@(SettingsModel)"
			          OnValidSubmit="@(UpdateSettings)"
			          FormName="@(Account.settingsFormName)"
			          id="@(Account.settingsFormName)"
			          class="mye-medium">
				<DataAnnotationsValidator />

				<InputSelectField @bind-Value="@(SettingsModel.FormatCulture)"
				                  Id="culture"
				                  Options="@(Cultures.Supported)"
				                  GetOptionLabel="@(static (culture) => culture.NativeName)"
				                  GetOptionValue="@(static (culture) => culture.Name)"
				                  Help="@(SettingsLocalizer["FormatCultureHelp"])" />

				<InputSelectField @bind-Value="@(SettingsModel.UiCulture)"
				                  Id="ui-culture"
				                  Options="@(Cultures.Supported)"
				                  GetOptionLabel="@(static (culture) => culture.NativeName)"
				                  GetOptionValue="@(static (culture) => culture.Name)"
				                  Help="@(SettingsLocalizer["UiCultureHelp"])" />
			</EditForm>
		</ChildContent>

		<FooterContent>
			<button type="submit" class="btn-primary" form="@(Account.settingsFormName)">
				@(Localizer["Save"])
			</button>
		</FooterContent>
	</Card>

	<Card CardClass="flex-1 w-100">
		<HeaderContent>
			<h2>@(Localizer["Details"])</h2>
		</HeaderContent>

		<ChildContent>
			<EditForm Model="@(DetailsModel)"
			          OnValidSubmit="@(UpdateDetailsAsync)"
			          FormName="@(Account.detailsFormName)"
			          id="@(Account.detailsFormName)">
				<DataAnnotationsValidator />

				<InputTextField @bind-Value="@(DetailsModel.Username)"
				                Id="username"
				                autocomplete="username"
				                required />

				<InputTextField @bind-Value="@(DetailsModel.Email)"
				                Id="email"
				                type="email"
				                autocomplete="email"
				                required />

				<InputTextField @bind-Value="@(DetailsModel.Password)"
				                Id="password"
				                type="password"
				                autocomplete="new-password" />

				<InputTextField @bind-Value="@(DetailsModel.PasswordConfirmation)"
				                Id="password-confirmation"
				                type="password"
				                autocomplete="new-password" />
			</EditForm>
		</ChildContent>

		<FooterContent>
			<button type="submit" class="btn-primary" form="@(Account.detailsFormName)">
				@(Localizer["Save"])
			</button>
		</FooterContent>
	</Card>
</div>
