@page "/play"
@using Elegance.Extensions
@using Elegance.Icons
@using WebGames.Web.Components
@rendermode RenderModes.Interactive
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<AppPageTitle Title="@(Localizer["Title"])" />

<div>
	<h1>@(Localizer["Title"])</h1>

	<Collapsable TriggerClass="btn-link" ContentClass="form-content mys-medium">
		<TriggerContent>
			@(Localizer["CreateGame"])
		</TriggerContent>

		<ChildContent>
			<CreateGameForm />
		</ChildContent>
	</Collapsable>

	@if ((games is null) || (games.Length == 0))
	{
		<div class="empty">
			@(Icons.PlayCardK)
			<h2>@(Localizer["EmptyTitle"])</h2>
			<p>@(Localizer["EmptySubtitle"])</p>
		</div>
	}
	else
	{
		<div class="games">
			@foreach (var game in games)
			{
				var key = $"game-{game.Code}";

				<div @key="@(key)" class="game">
					<div
						class="d-flex flex-row flex-nowrap justify-space-between align-center gap-small pye-small mye-small game-header">
						<h2 class="game-code">@(game.Code)</h2>
						<span class="player-count">
						@(game.CurrentPlayers.Count.Str())/@(game.Configuration.MaxPlayers.Str())
					</span>
					</div>
					<p>@(GameLocalizer[game.GetType().Name])</p>
					<p>@(GameLocalizer[game.State.ToString()])</p>
					<div class="game-actions">
						<a href="@(game.Configuration.AllowSpectators ? $"/play/{game.Code}/spectate" : string.Empty)"
						   class="btn @(game.Configuration.AllowSpectators ? string.Empty : "btn-disabled")">
							@(Localizer["Spectate"])
						</a>
						<a href="@(game.Joinable ? $"/play/{game.Code}" : string.Empty)"
						   class="btn @(game.Joinable ? string.Empty : "btn-disabled")">
							@(Localizer["Join"])
						</a>
					</div>
				</div>
			}
		</div>
	}
</div>
