@page "/play/{code:required}"
@page "/play/{code:required}/spectate"
@using Microsoft.AspNetCore.Components.Sections
@using WebGames.Core
@using WebGames.Core.Games
@using WebGames.Core.Players
@using WebGames.Extensions
@using WebGames.Web.Components
@using WebGames.Web.Components.Games
@rendermode RenderModes.Interactive

<AppPageTitle Title="@(Localizer.Format("Title", game?.Code ?? string.Empty))" />

@if (game is null)
{
	<p>@(Localizer["NotFound"])</p>
}
else
{
	<div class="game-actions">
		<button type="button" @onclick="@(LeaveAsync)">@(Localizer["Leave"])</button>

		@if (!spectating)
		{
			<SectionOutlet SectionName="game-actions" />
		}
	</div>

	if (game.State == GameState.Finished)
	{
		<div class="alert alert-success alert-glowing game-finished-alert" role="alert">
			<h4>@(Localizer["FinishedTitle"])</h4>
			<SectionOutlet SectionName="finish-alert" />
		</div>
	}

	switch (game)
	{
		case Solitaire solitaire:
			<SolitaireUi Game="@(solitaire)" Player="@(player as SolitairePlayer)" />
			break;
	}
}

<script src="@(Assets["Web/Pages/PlayGame.razor.js"])"></script>
