@using Elegance.Icons

<button class="@(TriggerClass)" data-visible="@(DefaultVisible)" data-collapsable="@(Id)">
	@(TriggerContent)
	<span class="collapsable-chevron" data-chevron>@(Icons.ChevronUp)</span>
</button>

<div class="collapsable-container">
	<div id="@(Id)" class="collapsable-content @(ContentClass) @(DefaultVisible ? "visible" : string.Empty)">
		@(ChildContent)
	</div>
</div>
