@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Core
@using WebGames.Extensions
@using WebGames.Models.Requests
@using WebGames.Web.Components.Input

<EditForm Model="@(Model)" OnValidSubmit="@(CreateGame)" FormName="@(CreateGameForm.formName)">
	<DataAnnotationsValidator />

	<InputRadioGroupField TValue="@(GameType?)"
	                      TOption="@(GameType)"
	                      @bind-Value="@(Model.Type)"
	                      @bind-Value:after="@(OnGameTypeChange)"
	                      Options="@(Enum.GetValues<GameType>())"
	                      Id="@(nameof(Model.Type))">
		<OptionContent Context="type">
			<div class="game-type-option" tabindex="0">
				<InputRadio Value="@(type)" />
				@(CreateGameForm.GetGameTypeIcon(type))
				<span class="label">@(type.ToDisplayName())</span>
			</div>
		</OptionContent>
	</InputRadioGroupField>

	<InputSelectField TValue="@(GameVisibility)"
	                  TOption="@(GameVisibility)"
	                  @bind-Value="@(Model.Visibility)"
	                  Options="@(Enum.GetValues<GameVisibility>())"
	                  GetOptionLabel="@((type) => GameLocalizer[type.ToString()])"
	                  Id="@(nameof(Model.Visibility))" />

	<InputNumberField @bind-Value="@(Model.MinPlayers)"
	                  Id="@(nameof(Model.MinPlayers))"
	                  min="1"
	                  max="99" />

	<InputNumberField @bind-Value="@(Model.MaxPlayers)"
	                  Id="@(nameof(Model.MaxPlayers))"
	                  min="1"
	                  max="99" />

	<InputCheckboxField @bind-Value="@(Model.AutoStart)" Id="@(nameof(Model.AutoStart))" />

	<InputCheckboxField @bind-Value="@(Model.AllowSpectators)" Id="@(nameof(Model.AllowSpectators))" />

	<button type="submit" class="btn-primary">
		@(Localizer["Create"])
	</button>
</EditForm>

@code {

	private static RenderFragment GetGameTypeIcon(GameType? type) =>
		(type) switch
		{
			GameType.Solitaire => Icons.PlayCardK,
			GameType.Blackjack => Icons.Number21Small,
			_                  => Icons.QuestionMark,
		};

}
