@page "/forgot-password"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Web.Components

<PageTitle>@(Localizer["RequestPasswordReset"])</PageTitle>

@if (done)
{
	<div>@(Localizer["Done"])</div>
}

<EditForm Model="@(Model)" OnValidSubmit="@(SendAsync)" FormName="@(ForgotPassword.formName)">
	<DataAnnotationsValidator />

	<InputTextField @bind-Value="@(Model.Email)"
	                Id="email"
	                type="email"
	                autocomplete="email"
	                required />

	<a href="/sign-up">@(Localizer["SignUp"])</a>
	<a href="/sign-in">@(Localizer["SignIn"])</a>

	<button type="submit" class="btn-primary">@(Localizer["RequestPasswordReset"])</button>
</EditForm>
