@page "/forgot-password"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Web.Components
@using WebGames.Web.Components.Input

<AppPageTitle Title="@(Localizer["RequestPasswordReset"])" />

<EditForm Model="@(Model)"
          OnValidSubmit="@(SendAsync)"
          FormName="@(ForgotPassword.formName)"
          class="centered-container">
	<DataAnnotationsValidator />

	<h1>@(Localizer["RequestPasswordReset"])</h1>

	@if (done)
	{
		<div>@(Localizer["Done"])</div>
	}

	<InputTextField @bind-Value="@(Model.Email)"
	                Id="email"
	                Block
	                type="email"
	                autocomplete="email"
	                required />

	<button type="submit" class="btn-primary btn-block">@(Localizer["RequestPasswordReset"])</button>

	<div class="w-100 d-flex flex-row flex-nowrap justify-space-between align-items-center gap-medium">
		<a href="/sign-up">@(Localizer["SignUp"])</a>
		<a href="/sign-in">@(Localizer["SignIn"])</a>
	</div>
</EditForm>
