@page "/forgot-password"
@using Microsoft.AspNetCore.Components.Forms

@if (done)
{
	<div>
		If a valid account has been found, we will send a link to reset the account's password to the account's e-mail
		address.
	</div>
}

<EditForm Model="@(Model)" OnValidSubmit="@(SendAsync)" FormName="@(ForgotPassword.formName)">
	<DataAnnotationsValidator />

	<div>
		<label for="email">E-mail</label>
		<InputText @bind-Value="@(Model.Email)"
				   type="email"
				   id="email"
				   autocomplete="email"
				   required />
		<ValidationMessage For="@(() => Model.Email)" />
	</div>

	<a href="/sign-up">No account yet?</a>
	<a href="/sign-in">Want to sign in instead?</a>

	<button type="submit">Request password reset</button>
</EditForm>
