@page "/reset-password/{token:guid}"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Web.Components
@using WebGames.Web.Components.Input

<AppPageTitle Title="@(Localizer["ResetPassword"])" />

<EditForm EditContext="@(context)"
          OnValidSubmit="@(ResetAsync)"
          FormName="@(ResetPassword.formName)"
          class="centered-container">
	<DataAnnotationsValidator />

	<h1>@(Localizer["ResetPassword"])</h1>

	<InputTextField @bind-Value="@(Model.Password)"
	                Id="password"
	                Block
	                type="password"
	                autocomplete="new-password"
	                required />

	<InputTextField @bind-Value="@(Model.PasswordConfirmation)"
	                Id="password-confirmation"
	                Block
	                type="password"
	                autocomplete="new-password"
	                required />

	<button type="submit" class="btn-primary btn-block">@(Localizer["Update"])</button>
</EditForm>
