@page "/reset-password/{Token:guid}"
@using Microsoft.AspNetCore.Components.Forms

<EditForm EditContext="@(context)" OnValidSubmit="@(ResetAsync)" FormName="@(ResetPassword.formName)">
	<DataAnnotationsValidator />

	<div>
		<label for="password">Password</label>
		<InputText @bind-Value="@(Model.Password)"
		           type="password"
		           id="password"
		           autocomplete="new-password"
		           required />
		<ValidationMessage For="@(() => Model.Password)" />
	</div>

	<div>
		<label for="password-confirmation">Confirm password</label>
		<InputText @bind-Value="@(Model.PasswordConfirmation)"
		           type="password"
		           id="password-confirmation"
		           autocomplete="new-password"
		           required />
		<ValidationMessage For="@(() => Model.PasswordConfirmation)" />
	</div>

	<button type="submit">Update</button>
</EditForm>
