@page "/reset-password/{Token:guid}"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Web.Components
@using WebGames.Web.Components.Input

<EditForm EditContext="@(context)" OnValidSubmit="@(ResetAsync)" FormName="@(ResetPassword.formName)">
	<DataAnnotationsValidator />

	<InputTextField @bind-Value="@(Model.Password)"
	                Id="password"
	                type="password"
	                autocomplete="new-password"
	                required />

	<InputTextField @bind-Value="@(Model.PasswordConfirmation)"
	                Id="password-confirmation"
	                type="password"
	                autocomplete="new-password"
	                required />

	<button type="submit" class="btn-primary">@(Localizer["Update"])</button>
</EditForm>
