@page "/sign-in"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Web.Components.Input
@using InputTextField = WebGames.Web.Components.Input.InputTextField

<PageTitle>@(Localizer["SignIn"])</PageTitle>

@if (SignedUp)
{
	<div>@(Localizer[nameof(SignIn.SignedUp)])</div>
}

<EditForm EditContext="@(context)" OnValidSubmit="@(SignInAsync)" FormName="@(SignIn.formName)">
	<DataAnnotationsValidator />

	<InputTextField @bind-Value="@(Model.User)"
	                Id="user"
	                autocomplete="username"
	                required />

	<InputTextField @bind-Value="@(Model.Password)"
	                Id="password"
	                type="password"
	                autocomplete="current-password"
	                required />

	<InputCheckboxField @bind-Value="@(Model.Persistent)" Id="persistent" />

	<a href="/forgot-password">@(Localizer["ForgotPassword"])</a>
	<a href="/sign-up">@(Localizer["SignUp"])</a>

	<button type="submit" class="btn-primary">@(Localizer["SignIn"])</button>
</EditForm>
