@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Utilities

<div class="mye-medium">
	<InputCheckbox Value="@(Value)"
	               ValueChanged="@(ValueChanged)"
	               ValueExpression="@(ValueExpression)"
				   id="@(Id)"
				   @attributes="@(AdditionalAttributes)" />
	<label for="@(Id)">@(DisplayName.Get(ValueExpression))</label>
</div>
