@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Utilities
@typeparam TValue

<div class="mye-medium">
	<label for="@(Id)" class="d-block mye-medium">
		@(DisplayName.Get(ValueExpression))
	</label>
	<InputSelect Value="@(Value)"
	             ValueChanged="@(ValueChanged)"
	             ValueExpression="@(ValueExpression)"
	             id="@(Id)"
	             @attributes="@(AdditionalAttributes)">
		@foreach (var option in Options)
		{
			var label = GetOptionLabel?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var key = $"{Id}-option-{label}";

			<option @key="@(key)" value="@(option)">
				@(label)
			</option>
		}
	</InputSelect>
	<ValidationMessage For="@(ValueExpression)" />
</div>
