@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Utilities
@typeparam TValue

<div class="mye-medium @(Block ? "w-100" : string.Empty)">
	<label for="@(Id)" class="@(LabelBlock ? "d-block" : string.Empty)">
		@(DisplayName.Get(ValueExpression))
	</label>
	@(ChildContent)
	@if (!string.IsNullOrEmpty(Help))
	{
		<p class="my-0 text-secondary">@(Help)</p>
	}
	<ValidationMessage For="@(ValueExpression)" class="text-danger" />
</div>
