@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue
@typeparam TOption

<InputField Id="@(Id)" Help="@(Help)" ValueExpression="@(ValueExpression)" Block="@(Block)">
	<InputSelect Value="@(Value)"
	             ValueChanged="@(ValueChanged)"
	             ValueExpression="@(ValueExpression)"
	             id="@(Id)"
	             @attributes="@(AdditionalAttributes)">
		@foreach (var option in Options)
		{
			var value = GetOptionValue?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var label = GetOptionLabel?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var key = $"{Id}-option-{value}";

			<option @key="@(key)" value="@(value)">
				@(label)
			</option>
		}
	</InputSelect>
</InputField>
