@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Utilities
@typeparam TValue

<div class="mye-medium">
	<label for="@(Id)" class="d-block mye-medium">
		@(DisplayName.Get(ValueExpression))
	</label>
	<InputRadioGroup Value="@(Value)"
	                 ValueChanged="@(ValueChanged)"
	                 ValueExpression="@(ValueExpression)"
	                 id="@(Id)"
	                 @attributes="@(AdditionalAttributes)">
		@foreach (var option in Options)
		{
			var label = GetOptionLabel?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var key = $"{Id}-option-{label}";

			<label @key="@(key)" class="@(OptionClass ?? string.Empty)">
				@if (OptionContent is not null)
				{
					@(OptionContent(option))
				}
				else
				{
					<InputRadio Value="@(option)" />
					@(label)
				}
			</label>
		}
	</InputRadioGroup>
	<ValidationMessage For="@(ValueExpression)" />
</div>
