@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue
@typeparam TOption

<InputField Id="@(Id)" Help="@(Help)" ValueExpression="@(ValueExpression)">
	<InputRadioGroup Value="@(Value)"
	                 ValueChanged="@(ValueChanged)"
	                 ValueExpression="@(ValueExpression)"
	                 id="@(Id)"
	                 @attributes="@(AdditionalAttributes)">
		@foreach (var option in Options)
		{
			var value = GetOptionValue?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var label = GetOptionLabel?.Invoke(option) ?? option?.ToString() ?? string.Empty;
			var key = $"{Id}-option-{value}";

			<label @key="@(key)" class="@(OptionClass ?? string.Empty)">
				@if (OptionContent is not null)
				{
					@(OptionContent(option))
				}
				else
				{
					<InputRadio Value="@(value)" />
					@(label)
				}
			</label>
		}
	</InputRadioGroup>
</InputField>
