@page "/games/create"
@using Microsoft.AspNetCore.Components.Forms
@using WebGames.Core
@using WebGames.Extensions
@using WebGames.Models.Requests

@* @todo Localize *@

<h1>New game</h1>

<EditForm Model="@(Model)" OnValidSubmit="@(CreateGame)" FormName="@(Create.formName)">
	<DataAnnotationsValidator />

	<div>
		<label for="type">Game</label>
		<InputRadioGroup @bind-Value="@(Model.Type)" id="type">
			@foreach (var type in Enum.GetValues<GameType>())
			{
				var key = $"type-{(int)type}";

				<label @key="@(key)">
					<InputRadio Value="@(type)" />
					@(type.ToString())
				</label>
			}
		</InputRadioGroup>
		<ValidationMessage For="@(() => Model.Type)" />
	</div>

	<div>
		<label for="visibility">Visibility</label>
		<InputSelect @bind-Value="@(Model.Visibility)" id="visibility">
			@foreach (var visibility in Enum.GetValues<GameVisibility>())
			{
				var key = $"visibility-{(int)visibility}";

				<option @key="@(key)" value="@(((int)visibility).Str())">
					@(visibility.ToString())
				</option>
			}
		</InputSelect>
		<ValidationMessage For="@(() => Model.Visibility)" />
	</div>

	<button type="submit">Create</button>
</EditForm>
 
