@page "/games/{code:required}"
@using Microsoft.AspNetCore.Components.Sections
@using WebGames.Core
@using WebGames.Core.Games
@using WebGames.Core.Players
@using WebGames.Extensions
@using WebGames.Web.Components.Games
@rendermode RenderModes.Interactive

<PageTitle>@(Localizer.Format("Title", game?.Code))</PageTitle>

@if (game is not null)
{
	<div class="game-actions">
		<a href="/games" class="btn">@(Localizer["Leave"])</a>

		<SectionOutlet SectionName="game-actions" />
	</div>

	@if (game.State == GameState.Finished)
	{
		<div class="alert alert-success alert-glowing game-finished-alert" role="alert">
			<h4>@(Localizer["FinishedTitle"])</h4>
			<SectionOutlet SectionName="finish-alert" />
		</div>
	}

	switch (game)
	{
		case Solitaire solitaire when (player is SolitairePlayer solitairePlayer):
			<SolitaireUi Game="@(solitaire)" Player="@(solitairePlayer)" />
			break;
	}
}
else
{
	<p>@(Localizer["NotFound"])</p>
}

<script src="@(Assets["Web/Pages/Games/Game.razor.js"])"></script>
